md-card.add-recipe.form-card(flex-gt-md="50", flex-offset-gt-md="25")
  md-card-title
    md-card-title-text
      span.md-headline Add Food
  div(cg-busy="busy")
    form(ng-submit="foodSubmit()", name="foodForm")
      div(flex="100")
        md-input-container
          label Name
          input(type="text", ng-model="food.name", required="true")

        md-input-container
          label Calories
          input(type="number", ng-model="food.calories", required="true")
        div(layout="row")
          md-input-container
            label Serving Size
            input(type="number", step="0.01", ng-model="food.servingSize", required="true")
          md-input-container
            label Unit
            md-select(ng-model="food.servingSizeUnit", style="padding-bottom: 23px;", required="true")
              md-option(ng-repeat="unit in units", ng-value="unit") {{ unit }}
        div(layout="row")
          md-input-container
            label Alt Serving Size
            input(type="number", step="0.01", ng-model="food.servingSize2")
          md-input-container
            label Unit
            md-select(ng-model="food.servingSizeUnit2", style="padding-bottom: 23px;")
              md-option(ng-repeat="unit in units", ng-value="unit") {{ unit }}
        md-input-container
          label Tags
          md-chips(ng-model="food.tags", placeholder="Enter a tag")
      div(flex="100",layout="row")
        md-input-container(flex="50")
          label Amazon URL
          input(type="url", ng-model="food.amazonUrl")
        md-input-container(flex="25")
          label Price
          input(type="number", step="0.01", ng-model="food.amazonPrice")
        md-input-container(flex="25")
          label Servings Per Container
          input(type="number", step="0.01", ng-model="food.amazonServingsPerContainer")
      div(flex="100",layout="row")
        md-input-container(flex="50")
          label Costco URL
          input(type="url", ng-model="food.costcoUrl")
        md-input-container(flex="25")
          label Price
          input(type="number", step="0.01", ng-model="food.costcoPrice")
        md-input-container(flex="25")
          label Servings Per Container
          input(type="number", step="0.01", ng-model="food.costcoServingsPerContainer")
      div(flex="100",layout="row")
        md-input-container(flex="50")
          label Target URL
          input(type="url", ng-model="food.targetUrl")
        md-input-container(flex="25")
          label Price
          input(type="number", step="0.01", ng-model="food.targetPrice")
        md-input-container(flex="25")
          label Servings Per Container
          input(type="number", step="0.01", ng-model="food.targetServingsPerContainer")
      div(flex="100")
        md-button.md-primary.md-raised(type="submit",ng-if="edit == true") Edit Food
        md-button.md-primary.md-raised(type="submit",ng-if="edit == false") Add Food
