md-card(flex="50")
  md-card-title
    md-card-title-text
      span.md-headline Signup
  md-card-content
    form(ng-submit="signup()")
      md-input-group
        label Email
        input(type="text", name="email", ng-model="form.email")
      md-input-group
        label Password
        input(type="password", name="password", ng-model="form.password")
      p.error(ng-model="form.err")
      button.md-button.md-raised.md-primary(type="submit") Signup
