# Package stuff
node_modules/
npm-debug.log*

# Editor cruft
*.swp
.idea/

# Build artifacts
dist/

# We write typescript here!
*.js

# Local configs
prodenvfile
configuration.json
configuration.prd.json
*firebase.json
*firebase.prd.json
