FORECASTIO_KEY=something
LATITUDE=something
LONGITUDE=something
CTA_TRAIN_API_KEY=something
CTA_TRAIN_MAP_ID=41320
JWT_SECRET=lololol
SESSION_SECRET=lmaorofl
GOOD_MORNING_SMS_USERS="+15559990000,"
TWILIO_NUMBER="+14156505283"
TWILIO_TOKEN=something
TWILIO_SID=something
SLACK_TOKEN=something
BOT_NAME=3-CPO
