div(layout="row")
  md-card(flex="100")
    md-card-title
      md-card-title-text
        h2 Recipes
    md-card-content
      div.headers(flex="100",layout="row")
        span(flex="20") Name
        span(flex="10") Calories / Serving
        span(flex="10") Cost / Serving
      div.recipe-row(ng-repeat="recipe in recipes", flex="100",layout="row")
        span.recipe-text(flex=20, ui-sref="recipe({id: recipe._id})",layout="column")
          span(flex="100") {{ recipe.name }}
          span.recipe-description(flex="100") {{ recipe.description }}
        span.recipe-text(flex=10) {{ recipe.calories / recipe.servings | number: 0 }}
        span.recipe-text(flex=10) ${{ recipe.cost / recipe.servings | number: 2 }}
        i.material-icons(ng-click="editRecipe(recipe)", ng-if="$root.isLoggedIn()") edit
        i.material-icons(ng-click="deleteRecipe(recipe)", ng-if="$root.isLoggedIn()") delete
      a.md-button.md-primary.md-raised(ui-sref="addRecipe()", ng-if="$root.isLoggedIn()") Add Recipe
div(layout="row")
  md-card(flex="100")
    md-card-title
      md-card-title-text
        span.md-headline Foods
    md-card-content
      div.headers(flex="100",layout="row")
        span(flex="20") Name
        span(flex="10") Calories
        span(flex="20") Serving Size
        span(flex="10") Cost
        span(flex="30") Links
      div.food-row(ng-repeat="food in foods", flex="100",layout="row")
        span.food-text(flex="20") {{ food.name }}
        span.food-text(flex="10") {{ food.calories }}
        span.food-text(flex="20")
          span {{ food.servingSize }} {{ food.servingSizeUnit }}
          span(ng-if="food.servingSize2") &nbsp; ({{ food.servingSize2 }} {{ food.servingSizeUnit2 }})
        span.food-text(flex="10") ${{ food.cost | number: 2 }}
        span(flex="30")
          md-button.md-raised(ng-href="{{ food.amazonUrl }}",target="_blank", ng-if="food.amazonUrl") Amazon
          md-button.md-raised(ng-href="{{ food.targetUrl }}",target="_blank", ng-if="food.targetUrl") Target
          md-button.md-raised(ng-href="{{ food.costcoUrl }}",target="_blank", ng-if="food.costcoUrl") Costco
        i.material-icons(ng-click="editFood(food)", ng-if="$root.isLoggedIn()") edit
        i.material-icons(ng-click="deleteFood(food)", ng-if="$root.isLoggedIn()") delete
      a.md-button.md-raised.md-primary(ui-sref="addFood()", ng-if="$root.isLoggedIn()") Add Food
