.forecast {
    text-align: right;
    padding: 40px 20px;
}

.forecast .today {
    font-size: 64px;
    font-weight: bold;
}

.forecast .icon {
    float: right;
}

.forecast .future .icon {
    float: right;
    margin-left: 10px;
    width: 45px;
    text-align: center;
    display: block;
}

.forecast .future .high {
    font-weight: 500;
}

.forecast .future .date {
    display: inline-block;
    width: 85px;
}

.forecast .future .temperature {
    width: 100px;
    text-align: center;
    display: inline-block;
}
