$primary-color-dark: #0288d1;
$primary-color: #03a9f4;
$primary-color-light: #b3e5fc;
$primary-color-text: #ffffff;
$accent-color: #4caf50;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #bdbdbd;
$name-container-background: #666666;
$odd-row-color: #eeeeee;

body,
html,
md-content {
  color: $primary-text-color;
}

.food-row {
  border-bottom: 1px solid #eeeeee;
}

.food-text {
  padding-top: 15px;
}

.form-card md-input-container {
  width: 100%;
}

.form-card {
  padding: 30px;
}

/*Get results closer to the search box*/
.add-recipe .add-ingredient {
  padding-bottom: 0;
  margin-bottom: 0;
}

md-card.result {
  padding: 5px;
}

.recipe-stats {
  padding-right: 15px;
  padding-left: 5px;
  font-size: 18px;
  vertical-align: top;
}

p.ingredient-name,
p.instruction-content {
  font-size: 18px;
  padding-left: 15px;
  display: block;
}

.ingredient-stats {
  text-align: right;
  padding: 0 3px;
  display: block;
}

.ingredient-stat {
  padding-right: 10px;
  //font-size: 14px;
  //vertical-align: top;
}

span.ingredient-index {
  font-weight: bold;
  padding-right: 10px;
}

.recipe md-card-title {
  max-height: 32px;
}

// Fix to line up ingredient and instruction first item on /recipe/$id
.recipe md-card md-card-content > p:first-child {
  margin-top: 16px;
}

.error {
  color: red;
}

.md-headline.ingredients,
.md-headline.instructions {
  color: red;
}

.recipe-description {
  font-size: 80%;
  font-style: italic;
}

.headers {
  font-size: 115%;
  font-weight: bold;
  margin-bottom: 10px;
  vertical-align: bottom;
}

.food-row .material-icons {
  padding: 12px 6px;
}

.recipe-row .material-icons {
  padding: 0 6px;
}

.recipe-row {
  padding-bottom: 10px;
}

.center {
  text-align: center;
}

md-card-actions.center {
  margin: 0 auto;
  display: block;
}

.recipe-img {
  display: block;
}

.recipe-img img {
  max-height: 400px;
  max-width: 400px;
  margin: 0 auto;
  display: block;
}

.recipe .name-container,
.recipe .img-container {
  background-color: $divider-color;
}

.recipe .floating-name-container {
  position: absolute;
  bottom: 10px;
  display: block;
  margin: 0 auto;
  width: 100%;
}

.recipe .name {
  font-size: 200%;
  text-align: center;
  font-weight: bolder;
  color: $primary-color-text;
  margin-top: 33%;
  display: block;
}

.recipe .xs-img-title .name {
  //margin-top: 0;
  display: block;
  width: 100%;
}

.recipe .xs-img-title span {
  //text-align: left;
  //padding-left: 20px;
  //color: $primary-color-text;
}

.recipe .description {
  font-size: 150%;
  text-align: center;
  margin-top: 5px;
  display: block;
  color: $primary-color-text;
}

.recipe .cals-cost {
  color: $primary-color-dark;
  font-size: 150%;
  text-align: center;
  margin-top: 5px;
  display: block;
}

.recipe .stats {
  background-color: $primary-color;
  padding-top: 20px;
  padding-bottom: 20px;
  color: $primary-color-text;
  font-size: 175%;
}

.stats {
  color: $primary-color-text;
  text-align: center;
}

.stats .stat {
  font-size: 115%;
  font-weight: bold;
  display: block;
}

.stats .text {
  font-size: 75%;
  display: block;
}

@media (max-width: 600px) {
  .stats .stat {
    font-size: 100%;
  }

  .stats .text {
    font-size: 60%;
  }
}

.ingredients,
.instructions {
  font-size: 115%;
  padding: 2%;
}

.ingredients .odd,
.instructions .odd {
  background-color: $odd-row-color;
}

.instructions .odd {
  padding: 8px 0;
}

.xs-img-title {
  position: relative;
}

.xs-recipe-toolbar {
  text-align: left;
}

.xs-recipe-toolbar .title,
.xs-recipe-toolbar .description,
.xs-recipe-toolbar .cals-cost {
  display: block;
  width: 100%;
  min-width: 100%;
}

.title-bar h1 {
  color: $primary-color-text;
  font-size: 175%;
  font-weight: bold;
}

.title-bar h1 a {
  margin-left: 10px;
}

md-toolbar:not(.md-menu-toolbar) md-icon {
  color: $primary-color-text;
  width: 48px;
  height: 48px;
}

md-card > :not(md-card-content) img {
  max-height: 500px;
  margin: 0 auto;
  width: auto;
}

.recipe .md-title {
  font-size: 150%;
  color: $primary-text-color;
}

.recipe md-card md-card-header md-card-header-text .md-subhead {
  font-size: 125%;
  color: $secondary-text-color;
}

.buy-button {
  border: 1px solid $secondary-text-color;
  color: $secondary-text-color;
  margin-left: 0;
  line-height: 26px;
  min-height: 26px;
}

md-list-item.md-3-line .md-list-item-text h3.allow-wrap {
  word-wrap: break-word;
  white-space: normal;
}

.divider {
  border-bottom: 1px solid $divider-color;
}

// Utility class
.bold {
  font-weight: bold;
}

.max-width-100 {
  max-width: 100%;
}

h3.allow-wrap {
  word-wrap: break-word;
  white-space: normal;
}
